*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

// 左、右浮动   清除浮动
.float-l{float: left; }
.float-r{float: right; }
.clear{display: block;height: 0; line-height: 0;overflow: hidden;clear: both;font-size: 0;}

// 字体颜色样式
.white{color: white}
.black{color: black}
.gray{color:#4F4F4F} // 页面整体主要颜色
.hover-pinkred{color:#E93D6D} // 鼠标悬浮字体变 粉红
.hover-hotred{color:#C7023A} // 鼠标悬浮字体变 深红 E93D6D
.hover-red{color:#E93D6D} // 鼠标悬浮字体变 深红
.hover-orange{color:#ff6500} // 鼠标悬浮字体变 橘色
.lightgray{color:#AEAEAE} // 浅灰
.lightgrey{color:#666666} // 灰
.red{color: #C70238} // 价格标价颜色

// 背景颜色样式
.allcolor{background-color:#F9F9F9} // 淡白色 页面整体颜色
.navcolor{background-color:#EEEEEE} // 深灰色 导航栏
.navlightcolor{background-color:#EFEFEF} // 浅灰色 小导航栏
.deeppinkred{background-color: #E9004F}  //深粉红色 小导航栏
.deepred{background-color: #C7023A}  //深红色  搜索框

// 边框颜色
.bordertop{color:#DE5251}
.hover-red{color:#C5023A}

// 字体大小
.fonts-12{font-size:12px}
.fonts-14{font-size:14px}
.fonts-16{font-size:16px}
.fonts-18{font-size:18px}
.fonts-20{font-size:20px}
.fonts-22{font-size:22px}
.fonts-24{font-size:24px}
.fonts-26{font-size:26px}
// 字体加粗
.fontw{font-weight: bold}

//
.magin-L-5{magin-left:5px}
.magin-L-10{magin-left:10px}
.magin-L-15{magin-left:15px}
.magin-L-20{magin-left:20px}
.magin-L-25{magin-left:25px}
.magin-L-5{magin-left:5px}
.magin-L-10{magin-left:10px}
.magin-L-15{magin-left:15px}
.magin-L-20{magin-left:20px}
.magin-L-25{magin-left:25px}

//
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input, select, button {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: inherit;
  vertical-align: middle;
}
button {
  cursor: pointer;
}

//body 样式
body{
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
